  <img class="product__items__item__img-desktop" [src]="product.image['Desktop']" [alt]="name" />
  <img class="product__items__item__img-tablet" [src]="product.image['Tablet']" [alt]="name" />
  <img class="product__items__item__img-mobile" [src]="product.image['Mobile']" [alt]="name" />
  <div class="product__items__item__meta">
    <div class="product__items__item__meta-title">{{product.name}}</div>
    <div class="product__items__item__meta-rating">
      <module-rating-app [rating]="product.rating"><module-rating-app>
    </div>
    <div class="product__items__item__meta-price">
      ${{product.price}}
    </div>

    <button type="submit" [disabled]="inCart(name)" (click)="addCart(product)" class="btn btn-primary product__items__item-btn">Add to Cart</button>
  </div>
